{
  "openapi": "3.0.2",
  "info": {
    "title": "Growatt WEB API",
    "description": "This is a reverse engineering of the Growatt API from iOS application. _Reverse date 03.02.2022 application version is: 5.82_",
    "termsOfService": "",
    "contact": {
      "email": "constantin.zaharia@progeek.ro"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://server-api.growatt.com",
      "description": "Growatt API WEB server"
    }
  ],
  "tags": [
    {
      "name": "Login",
      "description": "Login procedure and something more",
      "externalDocs": {
        "description": "",
        "url": ""
      }
    }
  ],
  "components": {
    "schemas": {
      "NewLoginApi": {

      }
    },
    "requestBodies": {
      "loginFormBody": {
        "description": "Form fields that will be send as login information",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/"
            }
          }
        }
      }
  },
    "securitySchemes": {
      "growatt_auth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "JSESSIONID "
      }
    }
  },
  "paths": {
    "/newLoginAPI.do": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Login form that is fetch the user data and also generate the cookie header",
        "description": "Login the user and on success the server will replay with a specific schema",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/loginFormBody"
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewLoginApi"
                }
            }
          },
            "headers": {
              "Access-Control-Allow-Origin":{
                "schema":{
                  "type": "string"
                  }
                },
              "Access-Control-Allow-Methods":{
                "schema":{
                  "type": "string"
                }
                },
              "Access-Control-Allow-Headers":{
                "schema":{
                  "type": "string"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "JSESSIONID=abcde12345; Path=/; HttpOnly"
                }
              }
            }
        }
      },
        "security": [
          {
            "growatt_auth": [

            ]
          }
        ]
    }
  }
}
}
